.quantity-selector {
  /* border: 1px solid black; */
  padding: 0 auto;
  width: fit-content
}

.qty {
  margin-left: 10px;
  margin-right: 10px;
}

.inc-dec-qty {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}